<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Training | @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Employee Training Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Employees", "Index", "Employee", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Trainings", "Index", "Training", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Employees Trained", "Index", "EmployeesTrained", null, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        <div class="alert alert-danger" style="display:none;" id="error"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jarom Williams</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site-js")
    @RenderSection("scripts", required: false)
</body>
</html>
